<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar PHP</title>
  </head>
  <body>
    <h1>Pengenalan Tulisan PHP</h1>
    <? echo("<p>1. ini sangat simple, pada SGML proses instruksi\n");?>
    <?php echot"<p>2. jika mau ke server XML docs, lakukan seperti ini\n");?>

    <script language="php">
      echo(
        "<p>3.  some editors (like FrontPage) don't like proccesing instruction"
      );
    </script>

    <% echo("
    <p>4. you may optionally use ASP-style tags"); %></p>
    <% = $variable;#This is a shortcut for"<"%echo..."%>
  </body>
</html>
